FLASK_SECRET_KEY=super-secret-key

POSTGRES_USER=auth
POSTGRES_PASSWORD=auth
POSTGRES_DB=auth_db

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

JWT_SECRET_KEY=super-secret-key
JWT_ACCESS_TOKEN_EXPIRES=3600
AUTH_SERVICE_PORT=5001
